<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>almmello - Cases</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Resume Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="../static/favicon.ico"> 
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    
    <!-- FontAwesome JS-->
	<script defer src="../static/fontawesome/js/all.min.js"></script>
	
       
    <!-- Theme CSS -->  
    <!--link id="theme-style" rel="stylesheet" href="assets/css/pillar-1.css"-->
	<link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/cv-style.css') }}">

</head> 

<body>	

    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg">
		    <header class="resume-header">

				<div class="container-fluid">
					<div class="row row-cols-1 row-cols-md-3 justify-content-around justify-content-md-start align-items-center">

						<!--//Begin col Picture-->
						<div class="col col-md-auto p-3 p-md-0 text-center text-md-start">
							<img class="picture" src="../static/images/profile.jpg" alt="">
						</div><!--//End col Picture-->

						<!--//Begin col primary-Info-->
						<div class="col-auto flex-md-grow-1 p-3 ms-lg-3 text-center text-md-start primary-info"">
							
							<h1 class="name mt-0 mb-0 text-white text-uppercase text-uppercase">Alexandre</h1>
							<h1 class="title mt-0 mb-1 text-white text-uppercase text-uppercase">Monteiro de Mello</h1>
							<div class="title mb-3">Full Stack Developer</div>
							<ul class="list-unstyled">
								<li class="mb-2"><a class="text-link" href="mailto:almmello@gmail.com" target="_blank"><i class="far fa-envelope fa-fw me-2" data-fa-transform="grow-3"></i>almmello@gmail.com</a></li>
								<li><a class="text-link" href="tel:+5521995121700" target="_blank"><i class="fas fa-mobile-alt fa-fw me-2" data-fa-transform="grow-6"></i>+55 21 99512-1700</a></li>
							</ul>
						</div><!--//End col Primary-Info-->

						<!--//Begin col Secondary-Info-->
						<div class="col-auto p-3 me-lg-3 text-start">
							
							<ul class="resume-social list-unstyled">
								<li class="mb-3"><a class="text-link" href="https://linkedin.com/in/almmello" target="_blank"><span class="fa-container text-center me-2"><i class="fab fa-linkedin-in fa-fw"></i></span>linkedin.com/in/almmello</a></li>
								<li class="mb-3"><a class="text-link" href="https://github.com/almmello" target="_blank"><span class="fa-container text-center me-2"><i class="fab fa-github-alt fa-fw"></i></span>github.com/almmello</a></li>
								<!--li class="mb-3"><a class="text-link" href="#"><span class="fa-container text-center me-2"><i class="fab fa-codepen fa-fw"></i></span>codepen.io/username/</a></li-->
								<li class="mb-3"><a class="text-link" href="https://goalmoon.com" target="_blank"><span class="fa-container text-center me-2"><img src="./static/images/fav2.png"></span>goalmoon.com</a></li>
								<li class="mb-3"><a class="text-link" href="https://calendly.com/almmello/30-min" target="_blank"><span class="fa-container text-center me-2"><i class="fas fa-calendar-alt"></i></span>calendly.com/almmello</a></li>
								<li class="mb-3"><a class="text-link online-only" href="./static/pdf/ALMMELLO Résumé.pdf" download target="_blank"><span class="fa-container text-center me-2"><i class="fas fa-download"></i></span>Download PDF Version</a></li>
								<li class="mb-3"><a class="text-link print-only" href="https://almmello.com.br" target="_blank"><span class="fa-container text-center me-2"><i class="fas fa-globe"></i></span>almmello.com.br</a></li>
							
								
							</ul>
						</div><!--//End col Secondary-Info-->


					</div><!--//row-->
				</div>

		    </header>
		    <div class="resume-body p-3">
			    <section class="resume-section summary-section mb-3">
				    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Cases</h2>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="../static/rga/TIM-Blah-Surfing-Bird.mp4"></iframe>
					</div>
				    <div class="ratio ratio-16x9">
						<iframe src="../static/rga/TIM-Blah-Surfing-Bird.mp4" title="TIM Blah Surfing Bird" allowfullscreen></iframe>
					</div>
			    </section><!--//about-section-->
			</div><!--//resume-body-->
		    
		    
	    </div>
    </article> 

    
    <footer class="footer text-center pt-2 pb-3">
	    <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
    </footer>

    

</body>
</html> 

